body{
    background-color: rgba(20, 255, 185, 0.795);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    font-size: 20px;
    color: rgba(218, 32, 94, 0.87);
    background-color: rgb(35, 233, 111);
    border-style: ridge ;
    border-color: aquamarine;
}
dialog{
    width: 500px;
    height: 500px;
}
#myForm div{
    width: 100px;
    height: 100px;
    font-size: 30px;
}
input{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border-color: aqua;
}
select{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border-color: aqua;
}
#button{
    border-radius: 20px;
    width: 70px;
    height: 50px;
    border-color: aqua;
    
}
#lists{
font-size: 50px;
}